html, body {
  height: 100%;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

p + p {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 900;
  letter-spacing: 0.02em;
  margin: 0 0 1em;
}

button {
  cursor: pointer;
  font-family: var(--font-body);
}
